@inherits LayoutComponentBase

<div class="page">
    <NavBar/> <!-- Vložení navbar komponenty -->

    <main>
        <div class="container mt-5 pt-5">
            @Body
        </div>
    </main>
</div>
