@page "/list-of-orders-user"


<h3>Vaše objednávky</h3>

@if (orders == null)
{
    <p>Načítám objednávky...</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Datum vytvoření</th>
                <th>Celková cena</th>
                <th>Stav</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in orders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.CreatedAt.ToLocalTime()</td>
                    <td>@order.TotalPrice</td>
                    <td>@order.StatusName</td>
                    <td>
                        <button class="btn btn-secondary" @onclick="() => NavigateToDetail(order.Id)">Detail</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<button class="btn btn-primary" @onclick="ReturnToHomepage">Zpět na hlavní stránku</button>

@code {
    private List<Order> orders = new List<Order>();

    protected override async Task OnInitializedAsync()
    {
        orders = await OrderClient.GetOrdersByUserIdAsync();
    }

    private void ReturnToHomepage()
    {
        NavigationManager.NavigateTo("/");
    }
    private void NavigateToDetail(int OrderId)
    {
        NavigationManager.NavigateTo($"/order-detail/{OrderId}/list-of-orders-user");
    }
}
